body {
    margin: 0;
    padding: 0;
    background-color: rgb(82, 113, 172);
    font-family: Tahoma, sans-serif;
    color: white;
}

h1,
p {
    text-align: center;
}

h1 {
    padding-top: 32px;
}

label {
    display: block;
    margin-bottom: 8px;
}

select {
    color: #495057;
    border-radius: 4px;
}

input,
select,
textarea {
    width: 100%;
    min-height: 2.375rem;
    font-size: 1.125rem;
    margin: 8px 0 16px 0;
    padding: 6px 12px;
    box-sizing: border-box;
}


input {
    border: rgb(44, 59, 87);
    border-radius: 4px;
    font-size: 1.1rem;
    color: #495057;
}

input[type="radio"],
input[type="checkbox"] {
    width: unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
}

form {
    width: 60vw;
    margin: 0 auto;
    background-color: rgb(44, 59, 87);
    border-radius: 10px;
    padding: 32px;
}

fieldset {
    border: none;
}

#submit {
    background-color: #37af65;
    color: white;
}